*{
               margin: 0;
               padding: 0;
               
}
.container{
               min-height: 100vh;
               width: 100%;
               background-image: url(b2.jpeg);
               background-size: 100%;
               background-position: center;
               background-size: cover;
               padding: 10px;
               box-sizing: border-box;
              
}
.meme{
               margin: 0.1px auto;
               width: 400px;
               font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.meme label{
               display: block;
               font-size: bold;
               margin-bottom: 10px;
               
}
.meme input{
               width: 100%;
               box-sizing: border-box;
               margin-bottom: 20px;
               background-color: #f3ff0a;
               border-radius: 40px;
               padding: 10px  50px;
               font-size: bold;
               font-weight: bold;
}
#meme{
               width: 100%;
}
.meme2{
               margin-left: 90%;
       width: 80px;        

}
h1{
               margin-left: 450px;
}